.client-image {
    width: 200px;
    max-height: 200px;


}

.client-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
  }
  
  .responsive {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 25%;
    padding: 5px;
    border: .5px solid #ccc;
    box-shadow: 0 0 5px #ccc; 

    color: #a69191

  }
  
  
  .desc {
    margin-top: 5px;
    
  }

  h2 {
    font-family: 'Montserrat, sans-serif';
    color: #a69191;
    font-size:x-large
    
  }

